<a href="https://colab.research.google.com/github/ShubhamSS09/Shubham-SS_Rstudio/blob/main/Anova_%26_Chisquare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Analysis of Variance and Chi Square

In [2]:
#load libraries
import pandas as pd
from sklearn import datasets
#load digits dataset
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data)

In [8]:
iris['feature_names']  # iris is the data we have used so feature_names have the column names\
#if these columns have same values then we accept th H not

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [9]:
import scipy.stats as stats
stats.f_oneway (df.iloc[:,0], df.iloc[:,1], df.iloc[:,2], df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

H not = All are euqal
H a = Al least 1 is different
482 is f value and P values is almost 0. So we reject the H not