<a href="https://colab.research.google.com/github/ShubhamSS09/Shubham-SS_Rstudio/blob/main/normal_Distribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

X=70, mue= 60, std dev= 10 (Area under cyrve is 1)

In [ ]:
from scipy import stats
stats.norm.cdf(70,60,10)

0.8413447460685429

In [ ]:
#prob for x is less than 680 (for greater than 680 it would be 1- (prob of less than 680))
stats.norm.cdf(680,711,29)

0.14254260383881612

In [ ]:
1 - stats.norm.cdf(720,711,29)

0.37814937265194704

So Prob for more than 720 = 1-0.62 =0.38

In [ ]:
stats.norm.cdf(740,711,29)

0.8413447460685429

P(680-740) = P(740) - P(680)
 = 0.84 - 0.14 =0.7    or you can directly do the subtraction in code

In [ ]:
stats.norm.cdf(740,711,29) - stats.norm.cdf(680,711,29)

0.6988021422297268

In [1]:
import pandas as pd
import numpy as np

In [2]:
beml_df = pd.read_csv("BEML.csv")
beml_df[0:5]

         Date    Open     High  ...    Close  Total Trade Quantity  Turnover (Lacs)
0  2010-01-04  1121.0  1151.00  ...  1135.60              101651.0          1157.18
1  2010-01-05  1146.8  1149.00  ...  1134.60               59504.0           676.47
2  2010-01-06  1140.0  1164.25  ...  1139.60              128908.0          1482.84
3  2010-01-07  1142.0  1159.40  ...  1144.15              117871.0          1352.98
4  2010-01-08  1156.0  1172.00  ...  1144.05              170063.0          1971.42

[5 rows x 8 columns]

In [3]:
glaxo_df = pd.read_csv("GLAXO.csv")
glaxo_df[0:5]

         Date     Open     High  ...    Close  Total Trade Quantity  Turnover (Lacs)
0  2010-01-04  1613.00  1629.10  ...  1625.65                9365.0           151.74
1  2010-01-05  1639.95  1639.95  ...  1616.80               38148.0           622.58
2  2010-01-06  1618.00  1644.00  ...  1638.50               36519.0           595.09
3  2010-01-07  1645.00  1654.00  ...  1648.70               12809.0           211.00
4  2010-01-08  1650.00  1650.00  ...  1639.80               28035.0           459.11

[5 rows x 8 columns]

In [4]:
beml_df = beml_df[['Date', 'Close']]
glaxo_df = glaxo_df[['Date', 'Close']]

In [6]:
beml_df

            Date    Close
0     2010-01-04  1135.60
1     2010-01-05  1134.60
2     2010-01-06  1139.60
3     2010-01-07  1144.15
4     2010-01-08  1144.05
...          ...      ...
1734  2016-12-26   950.25
1735  2016-12-27   975.70
1736  2016-12-28   974.40
1737  2016-12-29   986.05
1738  2016-12-30  1000.60

[1739 rows x 2 columns]

In [8]:
glaxo_df

            Date    Close
0     2010-01-04  1625.65
1     2010-01-05  1616.80
2     2010-01-06  1638.50
3     2010-01-07  1648.70
4     2010-01-08  1639.80
...          ...      ...
1734  2016-12-26  2723.50
1735  2016-12-27  2701.75
1736  2016-12-28  2702.15
1737  2016-12-29  2727.90
1738  2016-12-30  2729.80

[1739 rows x 2 columns]