<a href="https://colab.research.google.com/github/ShubhamSS09/Shubham-SS_Rstudio/blob/main/Pandas_intro_SS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [3]:
df = pd.read_csv("Salaries.csv")

In [ ]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.axes

[RangeIndex(start=0, stop=3000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.ndim #Number of dimentions

2

In [ ]:
df.values #Values of all the database without headings

In [ ]:
df.size #numberof rows & column values

27000

In [ ]:
df.tail(2)

      longitude  latitude  ...  median_income  median_house_value
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[2 rows x 9 columns]

In [ ]:
dir(df)

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.longitude.value_counts()

In [ ]:
df.dropna

In [ ]:
df.std()

In [ ]:
df_10 = df.head(50) #this saves the new dataset(df_10) for head 50 values then run mean command for the df_50

In [ ]:
df_10.mean()

In [ ]:
df.mean()

In [ ]:
df.head(50).mean()

In [ ]:
df.longitude  #selecting column in dataset (only single column)

In [ ]:
df['longitude']

In [ ]:
df[['longitude']]  #this will return column name and o/p numbers

In [ ]:
df.longitude.describe() #calculates the basis stats for paticulat column

In [ ]:
df.households.count() #finds how many values in column househodls

3000

In [ ]:
df.households.mean()

489.912

df.groupby('housing_median_age').mean() > this will provide the values with respect to housing_median_age. If I add in double sqr bracket , it will give value of first mentioned col'n wrt other mentioned (Sqr bracket will provide you the headings of columns mentioned in command

In [ ]:
df.groupby('housing_median_age')[['households']].mean()

In [ ]:
pd.DataFrame({'QTY': [22, 24 ], 'Sr No': [1,2]})    #you can expect only numeric values

   QTY  Sr No
0   22      1
1   24      2

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
grouped=df.groupby('housing_median_age') ##This will generate aother datafolder according to mentioned column

Python object will be created

In [ ]:
grouped.ngroups #Some objects will not run dues to error or long data

52

In [ ]:
grouped.groups

{1.0: [842, 1115], 2.0: [495, 1050, 1271, 2117, 2429, 2452], 3.0: [182, 532, 625, 688, 1019, 1604, 1747, 1984, 2327, 2417, 2913, 2936], 4.0: [45, 93, 295, 418, 900, 1005, 1021, 1123, 1146, 1178, 1283, 1460, 1584, 1597, 1667, 1924, 1953, 2014, 2054, 2141, 2178, 2326, 2528, 2614, 2625, 2671, 2758, 2930], 5.0: [33, 190, 358, 388, 389, 403, 650, 679, 753, 825, 829, 978, 1087, 1180, 1269, 1281, 1328, 1560, 1572, 1577, 1609, 1638, 1707, 1779, 1795, 1813, 1880, 1995, 2013, 2044, 2167, 2209, 2244, 2388, 2591, 2622, 2641, 2731, 2753], 6.0: [48, 107, 249, 292, 405, 429, 430, 546, 859, 888, 1044, 1073, 1344, 1812, 1828, 1976, 2046, 2095, 2099, 2159, 2194, 2340, 2387, 2859, 2969], 7.0: [252, 530, 680, 732, 763, 774, 887, 944, 1074, 1138, 1153, 1680, 1847, 1978, 1998, 2200, 2421, 2484, 2527, 2650], 8.0: [153, 217, 496, 610, 863, 917, 927, 1208, 1221, 1222, 1320, 1386, 1417, 1435, 1944, 2069, 2274, 2420, 2482, 2613, 2669, 2677, 2728, 2869, 2899], 9.0: [269, 360, 362, 604, 793, 880, 947, 1002, 1182, 1250, 1299, 1447, 1539, 1549, 1624, 1765, 1917, 2157, 2278, 2368, 2374, 2381, 2458, 2798, 2801, 2802, 2828], 10.0: [56, 201, 247, 248, 328, 383, 423, 933, 1031, 1188, 1236, 1329, 1552, 1614, 1927, 1996, 2061, 2081, 2148, 2372, 2424, 2477, 2664, 2701, 2702, 2719, 2761, 2852, 2931, 2997], 11.0: [39, 195, 240, 303, 434, 487, 584, 607, 755, 768, 777, 782, 832, 984, 1079, 1143, 1205, 1243, 1279, 1295, 1388, 1626, 1634, 1683, 1776, 1791, 1920, 2036, 2169, 2176, 2206, 2360, 2423, 2670, 2688, 2713, 2779, 2793, 2842, 2971, 2977], 12.0: [67, 140, 165, 176, 228, 323, 468, 543, 585, 630, 769, 771, 866, 883, 1016, 1092, 1093, 1253, 1267, 1377, 1482, 1494, 1621, 1653, 1709, 1834, 1859, 2008, 2027, 2030, 2186, 2257, 2310, 2312, 2318, 2755, 2775, 2787, 2794, 2845, 2975], 13.0: [24, 161, 184, 246, 256, 339, 408, 459, 549, 638, 639, 691, 702, 925, 1035, 1338, 1413, 1553, 1570, 1588, 1593, 1695, 1724, 1750, 1807, 1983, 2065, 2175, 2264, 2308, 2396, 2448, 2449, 2533, 2607, 2708, 2763, 2871, 2894, 2984, 2991], 14.0: [30, 50, 126, 216, 307, 333, 413, 494, 499, 599, 659, 804, 885, 949, 954, 972, 976, 991, 994, 1001, 1130, 1152, 1181, 1252, 1313, 1319, 1686, 1699, 1730, 1770, 1787, 1829, 1833, 1839, 1905, 1940, 1960, 2032, 2213, 2228, 2300, 2385, 2406, 2412, 2416, 2463, 2487, 2500, 2509, 2552, 2580, 2594, 2814, 2822, 2889, 2914, 2973], 15.0: [8, 16, 40, 116, 118, 152, 159, 162, 164, 231, 242, 253, 276, 286, 386, 426, 433, 473, 474, 521, 657, 687, 694, 730, 792, 862, 995, 1133, 1135, 1165, 1167, 1169, 1185, 1193, 1216, 1290, 1326, 1364, 1365, 1441, 1537, 1607, 1636, 1649, 1682, 1748, 1838, 1841, 1868, 1885, 1964, 1972, 2072, 2120, 2153, 2261, 2334, 2348, 2399, 2408, 2459, 2483, 2490, 2506, 2534, 2575, 2579, 2587, 2627, 2635, 2659, 2717, 2782, 2784, 2805, 2816, 2833], 16.0: [13, 41, 59, 97, 136, 155, 230, 241, 298, 346, 352, 366, 394, 447, 529, 544, 582, 591, 641, 662, 672, 707, 711, 853, 871, 914, 926, 940, 960, 964, 983, 1049, 1061, 1094, 1103, 1145, 1179, 1200, 1233, 1273, 1293, 1298, 1303, 1400, 1422, 1436, 1445, 1451, 1462, 1491, 1496, 1513, 1547, 1561, 1585, 1615, 1662, 1691, 1693, 1713, 1726, 1736, 1759, 1768, 1769, 1782, 1965, 1988, 1992, 2021, 2047, 2062, 2073, 2083, 2093, 2114, 2144, 2172, 2173, 2174, 2196, 2294, 2298, 2315, 2405, 2407, 2414, 2443, 2469, 2472, 2473, 2514, 2567, 2573, 2699, 2712, 2722, 2749, 2766, 2771, ...], 17.0: [32, 88, 124, 144, 168, 211, 215, 312, 316, 321, 322, 375, 395, 502, 560, 597, 620, 622, 628, 721, 751, 775, 858, 892, 903, 922, 923, 924, 1062, 1081, 1116, 1194, 1197, 1211, 1229, 1231, 1234, 1294, 1342, 1349, 1402, 1411, 1421, 1511, 1526, 1531, 1535, 1548, 1554, 1594, 1639, 1640, 1678, 1679, 1684, 1722, 1731, 1735, 1792, 1820, 1850, 2002, 2017, 2028, 2055, 2077, 2098, 2105, 2135, 2165, 2225, 2241, 2293, 2314, 2394, 2489, 2508, 2510, 2512, 2592, 2598, 2610, 2616, 2633, 2643, 2656, 2663, 2675, 2676, 2714, 2759, 2847, 2854, 2902, 2925, 2933, 2961, 2978, 2981, 2985], 18.0: [61, 68, 78, 84, 187, 244, 254, 262, 264, 400, 461, 480, 483, 525, 572, 594, 645, 646, 686, 720, 770, 854, 938, 970, 977, 1018, 1067, 1088, 1101, 1175, 1190, 1204, 1227, 1230, 1247, 1248, 1324, 1335, 1471, 1540, 1546, 1586, 1729, 1732, 1784, 1877, 1878, 1900, 1903, 1919, 1966, 2128, 2163, 2164, 2170, 2222, 2229, 2277, 2347, 2371, 2386, 2400, 2402, 2430, 2434, 2435, 2475, 2501, 2547, 2558, 2709, 2740, 2790, 2924, 2928, 2968], 19.0: [4, 7, 28, 49, 66, 114, 131, 444, 462, 536, 537, 697, 705, 731, 765, 837, 847, 868, 898, 910, 946, 992, 1063, 1075, 1084, 1206, 1215, 1232, 1241, 1316, 1318, 1352, 1454, 1463, 1595, 1620, 1669, 1766, 1804, 1816, 1836, 1858, 1902, 1974, 2011, 2035, 2097, 2110, 2154, 2168, 2189, 2239, 2240, 2247, 2256, 2288, 2299, 2305, 2311, 2342, 2344, 2461, 2519, 2523, 2530, 2584, 2593, 2672, 2696, 2723, 2727, 2807, 2819, 2853, 2942, 2951], 20.0: [96, 98, 120, 178, 234, 285, 336, 364, 367, 446, 486, 514, 555, 586, 606, 616, 627, 742, 756, 826, 869, 899, 902, 1008, 1080, 1083, 1106, 1136, 1161, 1163, 1210, 1291, 1393, 1404, 1450, 1487, 1501, 1502, 1589, 1668, 1694, 1921, 1931, 2019, 2033, 2082, 2088, 2096, 2146, 2152, 2155, 2253, 2259, 2284, 2316, 2438, 2660, 2744, 2754, 2767, 2776, 2922, 2979], 21.0: [51, 83, 183, 202, 203, 235, 284, 348, 427, 443, 466, 471, 479, 517, 579, 644, 985, 988, 1054, 1112, 1150, 1166, 1207, 1306, 1357, 1374, 1395, 1459, 1469, 1477, 1483, 1563, 1612, 1619, 1690, 1739, 1789, 1909, 2060, 2063, 2084, 2106, 2204, 2219, 2242, 2248, 2280, 2445, 2479, 2502, 2513, 2557, 2639, 2673, 2729, 2733, 2743, 2821, 2834, 2848, 2896], 22.0: [72, 79, 142, 196, 250, 258, 290, 438, 504, 523, 531, 629, 706, 713, 723, 811, 857, 931, 963, 1043, 1046, 1078, 1113, 1171, 1214, 1251, 1287, 1519, 1522, 1602, 1616, 1645, 1741, 1755, 1861, 1862, 1886, 2026, 2090, 2107, 2162, 2191, 2255, 2285, 2317, 2432, 2465, 2550, 2553, 2555, 2560, 2601, 2692, 2693, 2736, 2778, 2873, 2912, 2919, 2926], 23.0: [146, 209, 212, 237, 274, 329, 378, 435, 526, 583, 590, 664, 696, 864, 913, 942, 953, 1154, 1176, 1212, 1246, 1254, 1312, 1408, 1476, 1520, 1545, 1556, 1596, 1627, 1632, 1657, 1674, 1718, 1837, 1854, 1939, 1967, 2109, 2276, 2320, 2351, 2358, 2453, 2525, 2535, 2632, 2689, 2864, 2905, 2920, 2954, 2995], 24.0: [46, 74, 90, 110, 143, 154, 169, 177, 277, 297, 357, 372, 503, 528, 545, 565, 618, 631, 669, 675, 700, 896, 911, 919, 989, 990, 1023, 1060, 1120, 1160, 1260, 1297, 1308, 1362, 1379, 1431, 1434, 1506, 1534, 1562, 1565, 1603, 1628, 1671, 1742, 1774, 1844, 1896, 1906, 1922, 1968, 2052, 2068, 2079, 2103, 2179, 2184, 2234, 2260, 2291, 2309, 2343, 2444, 2464, 2499, 2569, 2653, 2695, 2711, 2738, 2751, 2777, 2796, 2890, 2940], 25.0: [127, 129, 149, 199, 200, 214, 219, 257, 347, 477, 509, 522, 571, 709, 724, 780, 790, 801, 821, 824, 845, 865, 881, 908, 956, 967, 1009, 1033, 1052, 1102, 1108, 1111, 1132, 1158, 1172, 1174, 1177, 1187, 1224, 1289, 1341, 1343, 1396, 1418, 1425, 1448, 1515, 1566, 1574, 1631, 1703, 1708, 1754, 1773, 1875, 1893, 1913, 1934, 1943, 1955, 1991, 2064, 2134, 2142, 2235, 2243, 2279, 2370, 2398, 2415, 2439, 2515, 2540, 2562, 2574, 2589, 2629, 2691, 2741, 2762, 2823, 2837, 2887, 2895, 2917, 2987], 26.0: [17, 18, 53, 57, 64, 139, 293, 313, 335, 404, 431, 450, 464, 475, 493, 552, 554, 556, 666, 690, 712, 745, 748, 827, 876, 961, 980, 1022, 1024, 1162, 1199, 1217, 1244, 1266, 1284, 1286, 1340, 1375, 1419, 1428, 1465, 1473, 1474, 1505, 1567, 1576, 1601, 1675, 1677, 1727, 1796, 1797, 1802, 1814, 1863, 1866, 1898, 1908, 1929, 1949, 1957, 1961, 1975, 2115, 2130, 2132, 2136, 2182, 2195, 2198, 2230, 2262, 2270, 2301, 2304, 2350, 2404, 2410, 2526, 2554, 2586, 2615, 2640, 2768, 2789, 2827, 2966, 2967], 27.0: [0, 2, 14, 112, 255, 272, 282, 315, 445, 481, 715, 727, 760, 764, 776, 800, 875, 893, 921, 932, 934, 952, 987, 1026, 1047, 1147, 1225, 1307, 1311, 1359, 1382, 1387, 1449, 1464, 1479, 1524, 1581, 1590, 1642, 1651, 1658, 1659, 1701, 1702, 1706, 1710, 1717, 1725, 1805, 1823, 1928, 1981, 2045, 2057, 2100, 2112, 2185, 2187, 2325, 2355, 2462, 2522, 2529, 2532, 2542, 2649, 2697, 2703, 2705, 2855, 2881, 2909, 2957, 2996], 28.0: [3, 85, 87, 122, 130, 172, 173, 198, 239, 291, 304, 327, 392, 416, 417, 425, 465, 507, 609, 632, 642, 716, 762, 786, 789, 807, 897, 904, 1107, 1196, 1302, 1347, 1424, 1500, 1527, 1571, 1623, 1720, 1764, 1785, 1808, 1914, 2000, 2211, 2215, 2217, 2275, 2328, 2333, 2409, 2585, 2621, 2647, 2732, 2735, 2809, 2824, 2903], 29.0: [77, 123, 185, 194, 227, 318, 380, 396, 512, 513, 542, 578, 614, 637, 670, 681, 682, 689, 722, 757, 791, 822, 823, 831, 874, 930, 999, 1036, 1095, 1157, 1164, 1201, 1249, 1305, 1372, 1426, 1529, 1557, 1592, 1605, 1635, 1650, 1688, 1758, 1856, 1888, 1894, 1912, 1963, 1970, 1979, 2040, 2078, 2102, 2131, 2133, 2147, 2180, 2302, 2341, 2365, 2425, 2470, 2495, 2524, 2536, 2538, 2541, 2617, 2665, 2770, 2786, 2812, 2839, 2916], 30.0: [29, 95, 106, 108, 117, 170, 188, 191, 221, 279, 319, 344, 385, 440, 458, 506, 561, 562, 569, 581, 603, 621, 651, 678, 747, 773, 784, 846, 957, 981, 1006, 1028, 1057, 1066, 1082, 1122, 1124, 1131, 1237, 1256, 1348, 1401, 1406, 1456, 1493, 1498, 1504, 1558, 1564, 1643, 1687, 1723, 1734, 1756, 1762, 1798, 1951, 2074, 2201, 2223, 2226, 2263, 2339, 2352, 2397, 2440, 2545, 2561, 2581, 2715, 2724, 2785, 2797, 2820, 2836, 2880], 31.0: [9, 38, 63, 102, 137, 163, 186, 207, 213, 226, 283, 300, 359, 370, 376, 377, 441, 538, 575, 623, 673, 719, 798, 830, 867, 901, 968, 979, 1000, 1071, 1114, 1134, 1358, 1392, 1438, 1439, 1442, 1486, 1518, 1521, 1542, 1568, 1660, 1714, 1746, 1767, 2031, 2161, 2250, 2295, 2359, 2363, 2369, 2559, 2564, 2825, 2856], 32.0: [27, 91, 133, 233, 243, 287, 371, 412, 442, 470, 501, 520, 533, 550, 574, 601, 783, 802, 805, 809, 810, 812, 814, 841, 945, 1004, 1030, 1039, 1045, 1139, 1191, 1258, 1268, 1275, 1304, 1330, 1391, 1398, 1416, 1488, 1532, 1573, 1613, 1646, 1700, 1719, 1777, 1778, 1869, 1901, 1926, 1945, 1962, 1971, 2004, 2005, 2015, 2034, 2043, 2051, 2067, 2086, 2091, 2166, 2207, 2216, 2265, 2268, 2323, 2330, 2503, 2603, 2606, 2626, 2654, 2679, 2707, 2725, 2745, 2746, 2765, 2800, 2817, 2860, 2897, 2898, 2923, 2948, 2955, 2980, 2989], 33.0: [35, 180, 210, 220, 225, 270, 337, 355, 419, 460, 515, 534, 557, 576, 619, 624, 665, 699, 703, 817, 838, 937, 939, 951, 1027, 1059, 1119, 1140, 1149, 1278, 1309, 1314, 1315, 1323, 1350, 1353, 1360, 1363, 1370, 1484, 1541, 1555, 1608, 1633, 1654, 1689, 1760, 1761, 1781, 1809, 1849, 1870, 1873, 1883, 1915, 1956, 1959, 1994, 2048, 2075, 2076, 2123, 2126, 2193, 2245, 2303, 2306, 2307, 2322, 2391, 2450, 2543, 2570, 2582, 2608, 2685, 2730, 2747, 2783, 2799, 2835, 2851, 2872, 2885, 2935], 34.0: [31, 37, 73, 105, 121, 138, 174, 224, 275, 289, 294, 296, 299, 342, 390, 414, 489, 492, 510, 540, 547, 589, 613, 615, 617, 728, 743, 796, 799, 813, 815, 941, 973, 1017, 1090, 1183, 1186, 1262, 1280, 1288, 1337, 1371, 1394, 1397, 1403, 1412, 1490, 1512, 1536, 1716, 1771, 1799, 1803, 1806, 1851, 1947, 1948, 1969, 1973, 1993, 2009, 2042, 2053, 2056, 2071, 2087, 2111, 2138, 2139, 2143, 2210, 2237, 2251, 2292, 2332, 2335, 2337, 2354, 2377, 2411, 2437, 2468, 2486, 2531, 2549, 2572, 2655, 2661, 2674, 2687, 2694, 2748, 2832, 2866, 2883, 2886, 2906, 2934, 2952, 2956, ...], 35.0: [19, 62, 69, 82, 86, 103, 111, 145, 148, 205, 271, 305, 330, 353, 354, 379, 402, 421, 422, 436, 448, 467, 485, 548, 608, 626, 661, 671, 701, 766, 795, 820, 839, 843, 916, 959, 975, 996, 1041, 1053, 1085, 1086, 1100, 1110, 1127, 1141, 1159, 1168, 1209, 1220, 1240, 1255, 1259, 1317, 1331, 1384, 1389, 1415, 1470, 1472, 1481, 1550, 1583, 1617, 1663, 1664, 1666, 1676, 1704, 1721, 1745, 1794, 1817, 1818, 1840, 1872, 1899, 1910, 1925, 1936, 1942, 1987, 2006, 2012, 2024, 2029, 2038, 2092, 2094, 2113, 2236, 2246, 2266, 2271, 2297, 2338, 2361, 2392, 2447, 2485, ...], 36.0: [12, 21, 25, 43, 55, 60, 92, 104, 113, 141, 160, 166, 171, 204, 245, 251, 261, 263, 266, 309, 393, 399, 406, 409, 432, 452, 463, 472, 500, 527, 598, 600, 635, 643, 660, 726, 734, 737, 744, 750, 848, 856, 861, 878, 882, 915, 928, 943, 958, 1048, 1064, 1098, 1242, 1261, 1334, 1345, 1351, 1368, 1380, 1399, 1429, 1430, 1437, 1440, 1458, 1508, 1538, 1551, 1559, 1575, 1625, 1641, 1644, 1648, 1715, 1744, 1751, 1811, 1815, 1832, 1871, 1892, 1935, 1954, 1997, 2070, 2124, 2151, 2202, 2205, 2208, 2254, 2283, 2357, 2380, 2418, 2419, 2422, 2431, 2565, ...], 37.0: [5, 11, 42, 189, 206, 325, 350, 456, 476, 564, 580, 648, 654, 655, 668, 710, 785, 787, 849, 855, 891, 929, 955, 966, 969, 982, 1025, 1144, 1195, 1228, 1245, 1301, 1310, 1339, 1366, 1383, 1390, 1427, 1433, 1480, 1485, 1489, 1514, 1525, 1569, 1629, 1637, 1647, 1692, 1705, 1743, 1757, 1793, 1853, 1874, 1907, 1918, 1941, 1952, 1977, 1982, 2003, 2010, 2022, 2037, 2346, 2389, 2441, 2491, 2546, 2578, 2583, 2590, 2600, 2605, 2611, 2657, 2718, 2826, 2829, 2844, 2858, 2884, 2943, 2949, 2958, 2974, 2993], 38.0: [34, 65, 119, 158, 179, 197, 310, 338, 351, 365, 381, 382, 387, 398, 411, 454, 490, 587, 816, 851, 950, 965, 1011, 1037, 1040, 1070, 1091, 1117, 1223, 1238, 1270, 1381, 1405, 1407, 1444, 1543, 1611, 1655, 1661, 1697, 1846, 1879, 1989, 2007, 2188, 2199, 2203, 2269, 2272, 2373, 2401, 2492, 2563, 2646, 2681, 2686, 2721, 2742, 2831, 2841, 2843, 2877, 2932, 2939], 39.0: [52, 54, 134, 135, 147, 193, 238, 302, 324, 401, 469, 566, 649, 729, 741, 828, 890, 920, 962, 986, 997, 1029, 1042, 1219, 1264, 1336, 1376, 1409, 1452, 1533, 1578, 1598, 1673, 1733, 1822, 1835, 1864, 1867, 1890, 1986, 2025, 2101, 2119, 2149, 2160, 2282, 2427, 2428, 2504, 2505, 2636, 2683, 2781, 2893, 2945], 40.0: [20, 280, 363, 397, 449, 488, 595, 611, 685, 788, 836, 909, 1012, 1058, 1089, 1276, 1446, 1461, 1475, 1492, 1495, 1670, 1696, 1740, 1753, 1775, 1876, 1980, 1990, 2118, 2140, 2156, 2171, 2177, 2249, 2336, 2366, 2378, 2403, 2551, 2599, 2878, 2998], 41.0: [151, 301, 311, 320, 326, 341, 356, 407, 505, 558, 567, 570, 593, 718, 746, 781, 835, 886, 912, 948, 1013, 1038, 1056, 1105, 1137, 1282, 1292, 1517, 1591, 1622, 1665, 1738, 1752, 1825, 1848, 1881, 1930, 1933, 2016, 2085, 2121, 2227, 2238, 2353, 2383, 2451, 2456, 2511, 2517, 2602, 2612, 2620, 2630, 2756, 2764, 2941], 42.0: [15, 115, 125, 156, 175, 181, 192, 265, 349, 373, 437, 451, 455, 508, 559, 596, 658, 674, 749, 752, 1020, 1125, 1203, 1356, 1414, 1420, 1443, 1587, 1606, 1737, 1821, 1950, 2116, 2122, 2127, 2137, 2218, 2232, 2281, 2296, 2331, 2393, 2588, 2619, 2634, 2644, 2706, 2803, 2982, 2986, 2999], 43.0: [1, 6, 101, 167, 222, 268, 308, 497, 573, 588, 634, 636, 652, 692, 698, 735, 772, 834, 840, 844, 860, 918, 974, 1015, 1065, 1148, 1184, 1218, 1226, 1277, 1410, 1530, 1599, 1652, 1672, 1681, 1819, 1884, 2059, 2212, 2413, 2426, 2442, 2467, 2476, 2498, 2566, 2571, 2576, 2700, 2720, 2757, 2780, 2804, 2964, 2988], 44.0: [58, 71, 75, 81, 89, 218, 273, 345, 374, 453, 457, 478, 518, 592, 704, 725, 778, 803, 806, 808, 877, 1072, 1097, 1126, 1198, 1373, 1385, 1497, 1656, 1728, 1801, 1830, 1842, 1845, 1889, 1999, 2049, 2050, 2192, 2220, 2286, 2290, 2319, 2362, 2375, 2390, 2481, 2651, 2846, 2910, 2911], 45.0: [10, 23, 150, 259, 278, 281, 317, 334, 361, 491, 577, 738, 739, 873, 905, 936, 971, 1003, 1121, 1151, 1155, 1272, 1274, 1467, 1523, 1528, 1772, 2018, 2020, 2058, 2066, 2104, 2129, 2145, 2231, 2356, 2367, 2395, 2455, 2457, 2460, 2478, 2520, 2597, 2609, 2726, 2752, 2769, 2875, 2888, 2962], 46.0: [80, 288, 331, 343, 391, 439, 484, 511, 539, 568, 605, 612, 684, 733, 794, 1010, 1332, 1378, 1468, 1516, 1810, 1882, 1895, 1937, 1958, 2181, 2197, 2287, 2289, 2345, 2349, 2433, 2466, 2480, 2577, 2595, 2652, 2815, 2861, 2879, 2918], 47.0: [22, 47, 76, 368, 428, 818, 852, 884, 1068, 1170, 1503, 1600, 1749, 1911, 1985, 2214, 2233, 2716, 2791, 2857, 2868, 2921], 48.0: [44, 420, 424, 647, 714, 758, 761, 779, 833, 850, 870, 935, 998, 1235, 1265, 1455, 1466, 1580, 1582, 1685, 1763, 1932, 2150, 2516, 2518, 2537, 2568, 2642, 2645, 2658, 2662, 2904, 2953, 2983], 49.0: [100, 208, 340, 663, 879, 1076, 1156, 1173, 1202, 1783, 1891, 1923, 2039, 2108, 2221, 2273, 2494, 2497, 2556, 2710, 2990], 50.0: [94, 132, 223, 563, 653, 693, 1007, 1069, 1263, 1610, 1827, 2089, 2382, 2446, 2680, 2862], 51.0: [524, 1051, 1099, 1800, 1843, 1916, 2023, 2454, 2638, 2849, 2900], 52.0: [26, 36, 70, 99, 109, 128, 157, 229, 232, 236, 260, 267, 306, 314, 332, 369, 384, 410, 415, 482, 498, 516, 519, 535, 541, 551, 553, 602, 633, 640, 656, 667, 676, 677, 683, 695, 708, 717, 736, 740, 754, 759, 767, 797, 819, 872, 889, 894, 895, 906, 907, 993, 1014, 1032, 1034, 1055, 1077, 1096, 1104, 1109, 1118, 1128, 1129, 1142, 1189, 1192, 1213, 1239, 1257, 1285, 1296, 1300, 1321, 1322, 1325, 1327, 1333, 1346, 1354, 1355, 1361, 1367, 1369, 1423, 1432, 1453, 1457, 1478, 1499, 1507, 1509, 1510, 1544, 1579, 1618, 1630, 1698, 1711, 1712, 1780, ...]}

In [10]:
df[df.population>5000]   #First df will give you True or false and another df will print values.

      longitude  latitude  ...  median_income  median_house_value
33      -118.08     34.55  ...         4.5237            141800.0
142     -117.98     34.10  ...         3.7727            159700.0
321     -121.73     37.68  ...         5.4496            238900.0
405     -120.67     35.62  ...         3.8661            168100.0
607     -116.19     33.69  ...         2.5383             74000.0
887     -117.04     32.70  ...         4.4190            156900.0
900     -117.22     32.95  ...         6.3570            322500.0
947     -117.23     33.91  ...         4.0473            127200.0
976     -117.58     34.11  ...         4.7547            157600.0
978     -121.53     38.48  ...         4.8811            212200.0
1033    -118.24     33.85  ...         5.9684            193300.0
1083    -118.60     34.13  ...         9.1232            472000.0
1146    -117.27     33.15  ...         4.6357            244900.0
1283    -117.18     32.92  ...         5.1960            210700.0
1352    -121.87     37.42  ...         6.4419            264500.0
1386    -117.25     33.93  ...         4.2654            137600.0
1554    -117.71     34.02  ...         3.6361            157700.0
1563    -118.44     33.98  ...         5.3359            500001.0
1597    -117.12     33.49  ...         3.9963            191100.0
1795    -117.10     33.09  ...         4.4375            353000.0
1976    -117.70     33.48  ...         6.3088            340300.0
2014    -117.22     32.86  ...         3.6287            280800.0
2186    -116.14     34.45  ...         2.2612            137500.0
2321    -121.15     38.69  ...         6.1359            225000.0
2429    -117.20     33.58  ...         4.5936            174300.0
2430    -120.50     37.37  ...         2.4012             79700.0
2452    -117.64     33.87  ...         6.2308            257900.0
2616    -121.42     38.49  ...         3.3630            103000.0
2663    -118.11     34.02  ...         5.1515            318900.0
2924    -117.23     32.88  ...         1.8580            205000.0
2936    -119.75     36.87  ...         5.0941            143700.0

[31 rows x 9 columns]