<a href="https://colab.research.google.com/github/ShubhamSS09/Shubham-SS_Rstudio/blob/main/Pandas_intro_SS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [2]:
df = pd.read_csv("california_housing_test.csv")

In [ ]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.axes

[RangeIndex(start=0, stop=3000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.ndim #Number of dimentions

2

In [ ]:
df.values #Values of all the database without headings

In [ ]:
df.size #numberof rows & column values

27000

In [ ]:
df.tail(2)

      longitude  latitude  ...  median_income  median_house_value
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[2 rows x 9 columns]

In [ ]:
dir(df)

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.longitude.value_counts()

In [ ]:
df.dropna

In [ ]:
df.std()

In [ ]:
df_10 = df.head(50) #this saves the new dataset(df_10) for head 50 values then run mean command for the df_50

In [ ]:
df_10.mean()

In [ ]:
df.mean()

In [ ]:
df.head(50).mean()

In [ ]:
df.longitude  #selecting column in dataset (only single column)

In [ ]:
df['longitude']

In [ ]:
df[['longitude']]  #this will return column name and o/p numbers

In [ ]:
df.longitude.describe() #calculates the basis stats for paticulat column

In [ ]:
df.households.count() #finds how many values in column househodls

3000

In [ ]:
df.households.mean()

489.912

df.groupby('housing_median_age').mean() > this will provide the values with respect to housing_median_age. If I add in double sqr bracket , it will give value of first mentioned col'n wrt other mentioned (Sqr bracket will provide you the headings of columns mentioned in command

In [ ]:
df.groupby('housing_median_age')[['households']].mean()

In [ ]:
pd.DataFrame({'QTY': [22, 24 ], 'Sr No': [1,2]})    #you can expect only numeric values

   QTY  Sr No
0   22      1
1   24      2

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
grouped=df.groupby('housing_median_age') ##This will generate aother datafolder according to mentioned column

Python object will be created

In [ ]:
grouped.ngroups #Some objects will not run dues to error or long data

52

In [ ]:
grouped.groups

In [ ]:
df[df.population>5000]   #First df will give you True or false and another df will print values.

In [ ]:
df[(df.housing_median_age==27) & (df.median_income>6)]  #two different conditions in one

In [ ]:
P_Age=df[(df.housing_median_age==27)] #Using 2 different statements first print in another seperate dataframe
#and then make another command for that dataframe

In [ ]:
P_Age[P_Age.median_income>6]

In [5]:
df.head()  # For below codes as a reference

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

#Above command is for refrence
Below command will provide 0:4 (Start at 0th indext abd end at stop -1 means 4-1=3 =>This will givw you the 0,1,2,3 rows where 0th indext is first row . Same with 0:3 (Column side values)

In [4]:
df.iloc[0:4,0:3]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0

In [8]:
df.iloc[1:6,2:5]

   housing_median_age  total_rooms  total_bedrooms
1                43.0       1510.0           310.0
2                27.0       3589.0           507.0
3                28.0         67.0            15.0
4                19.0       1241.0           244.0
5                37.0       1018.0           213.0

In [9]:
df.iloc[0:2,]   # after comma nothing mentioned means all columns

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0

[2 rows x 9 columns]