<a href="https://colab.research.google.com/github/ShubhamSS09/Shubham-SS_Rstudio/blob/main/Pandas_intro_SS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [5]:
df = pd.read_csv("california_housing_test.csv")

In [ ]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.axes

[RangeIndex(start=0, stop=3000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.ndim #Number of dimentions

2

In [ ]:
df.values #Values of all the database without headings

In [ ]:
df.size #numberof rows & column values

27000

In [ ]:
df.tail(2)

      longitude  latitude  ...  median_income  median_house_value
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[2 rows x 9 columns]

In [ ]:
dir(df)

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.longitude.value_counts()

In [ ]:
df.dropna

In [ ]:
df.std()

In [6]:
df_10 = df.head(50) #this saves the new dataset(df_10) for head 50 values then run mean command for the df_50

In [ ]:
df_10.mean()

In [ ]:
df.mean()

In [ ]:
df.head(50).mean()

In [ ]:
df.longitude  #selecting column in dataset (only single column)

In [ ]:
df['longitude']

In [ ]:
df[['longitude']]  #this will return column name and o/p numbers

In [ ]:
df.longitude.describe() #calculates the basis stats for paticulat column

In [ ]:
df.households.count() #finds how many values in column househodls

3000

In [ ]:
df.households.mean()

489.912

df.groupby('housing_median_age').mean() > this will provide the values with respect to housing_median_age. If I add in double sqr bracket , it will give value of first mentioned col'n wrt other mentioned (Sqr bracket will provide you the headings of columns mentioned in command

In [12]:
df.groupby('housing_median_age')[['households']].mean()

                     households
housing_median_age
1.0                    8.500000
2.0                 1014.166667
3.0                 1020.833333
4.0                 1266.642857
5.0                  960.358974
6.0                  834.880000
7.0                  600.750000
8.0                  580.440000
9.0                  589.370370
10.0                 554.066667
11.0                 611.390244
12.0                 696.585366
13.0                 601.390244
14.0                 583.438596
15.0                 525.740260
16.0                 460.943925
17.0                 581.840000
18.0                 553.157895
19.0                 626.473684
20.0                 596.095238
21.0                 608.393443
22.0                 571.516667
23.0                 531.415094
24.0                 551.133333
25.0                 513.174419
26.0                 480.909091
27.0                 520.162162
28.0                 532.275862
29.0                 518.386667
30.0                 460.881579
31.0                 439.157895
32.0                 434.439560
33.0                 454.435294
34.0                 414.980392
35.0                 384.542373
36.0                 355.156522
37.0                 358.795455
38.0                 369.359375
39.0                 403.836364
40.0                 342.930233
41.0                 341.785714
42.0                 375.745098
43.0                 393.607143
44.0                 384.509804
45.0                 346.960784
46.0                 404.170732
47.0                 426.545455
48.0                 361.176471
49.0                 318.857143
50.0                 356.312500
51.0                 367.000000
52.0                 375.393064